.container {
    margin-top: 120px;
    margin-left: calc(50% - 560px);
    flex-direction: row;
    display: flex;
}

.content {
    display: flex;
    align-items: stretch;
    flex: 1;
}

.left_panel {
    width: 320px;
    display: flex;
    flex-direction: column;
}
.left_panel_button{
    line-height: 64px;
    text-decoration: unset;
}

.right_panel {

}
.row {
    padding-bottom: 24px;
}
.row div:first-child{
    width: 480px;
}
.active_button{
   color: white;
}