.burger_constructor_list {
    overflow: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 16px;
    margin-right: 6px
}

.item {
    display: flex;
    width: 100%;
    align-items: center
}

.drag_icon {
    padding-right: 13.5px
}

.elem_list {
    width: 100%;
    display: flex;
}