.main{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.left_panel{
    float: left;
    width: 600px;
    padding-right: 40px
}

.right_panel{
    width: 600px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    max-height: calc(70vh + 96px);
}
article{
    padding-bottom: 20px;
    padding-top: 40px;
}