.main{
    margin: auto;
    width: 50%;
    padding-top: 40px;
    padding-bottom: 20px
}

.left-panel{
    width: 50%;
    float: left;
    max-width: 600px;
    padding-right: 40px
}

.right-panel{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}