.card{
    float:left;
    width: 272px;
    padding-right: 24px;
    padding-left: 16px;
}
.name_product{
    text-align: center;
}
.img_product{
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
}
.price{
    display: flex;
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 4px;
}