nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 0;
    background-color: #1C1C21;
}

.header_button {
    display: flex;
}

.burger_button {

}

.header_button button {
    padding-left: 0;
    display: flex;
}
.header_button svg {
    padding-right: 8px;
}